<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link data-id="favicon" rel="shortcut icon" sizes="16x16 32x32 96x96" type="image/png" href="assets/favicon-32x32.png">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
      <h-modal-blur data-blur="false">
        <main class="content-display">
          <h-route-display></route-display>
        </main>
      </modal-blur>
      <h-side-notification></h-side-notification>
    </body>
</html>
