node_modules/
npm-debug.log
Thumbs.db
.DS_Store
/dist/*
/coverage
/src/templateCache.js

# IDE
.vscode/*
.vs/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
/nbproject/
/route-sample/dist/
