<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link data-id="favicon" rel="shortcut icon" sizes="16x16 32x32 48x48" type="image/png" href="assets/favicon-32x32.png">
    </head>
    <body>
        <header data-automation-id="main-header">
            <section>
              <div class="header-title">
                <div>
                  <img src="assets/logo-jnj-red.svg" class="header-logo" />
                  <span class="header-sub-title">Supply Chain</span>
                </div>
              </div>
            </section>
            <nav>
                <route-link data-route="/" data-title="Home Page">Home</route-link>
            </nav>
        </header>

        <section class="main" data-automation-id="main-content">
            <route-display></route-display>
        </section>

    </body>
</html>
